			body {
				background-image: url(fon.png);
				background-color: #ccc;
			}		
			.mpole {
				background-color: #0b8dfb;
			}
			.opole {
				background-color: #0b8dfb;
			}
			.tb {
				width:410px;
				height:410px;
				border-top: solid 1px #fff;
				border-right: solid 1px #fff;
				position:absolute;
			}
			.tb div {
				width:40px;
				height:40px;
				text-align:center;
				border-left: solid 1px #fff;
				border-bottom: solid 1px #fff;				
			}
			#game {
				margin: 0 auto;
				width:840px;
				height:410px;				
			}
			#mypole {
				display:block;
				float:left;
				width:410px;
				height:410px;				
			}
			#opppole {
				display:block;
				float:right;
				width:410px;
				height:410px;				
			}
			
			.over {
				background-color: #77d253;
			}	
			
			.ship {
				background-color: #d67015;	
			}	
			
			.destroyship {
				background-color: #000;
			}
			
			.damageship {
				background-color: #ce0b0b;
			}
			
			.miss {
				background-color: #badbf8;
			}
                        
                        #status {
                            width: 150px;
                            height: 30px;
                            background-color: #f0eb96;
                            text-align: center;
                            font-size: 20px;
                            font-family: Helvetica Neue, Helvetica, sans-serif;
                            margin: 0 auto; 
                        }
                        
                        #shadow {
                            width:410px;height: 410px;
                            position: absolute;z-index: 2;
                            background-color: rgba(255,255,255,0.4);
                        }